[Unit]
Description=User Rclone sync on shutdown
DefaultDependencies=no
Before=shutdown.target
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '\
if ! ping -c1 8.8.8.8 >/dev/null 2>&1; then
  echo "No network available, skipping sync"
  exit 0
fi

for u in $(who | awk "{print \$1}" | sort -u); do \
    homedir=$(eval echo "~$u"); \
    if [[ -x "$homedir/.rclone_sync/start_sync.sh" ]]; then \
        sudo -u "$u" "$homedir/.rclone_sync/start_sync.sh" || echo "Sync failed for $u"; \
    fi; \
done'
TimeoutStartSec=5min

[Install]
WantedBy=shutdown.target
